:root {
  --gold: #ffd700;
  --blue: #0066cc;
  --gold: #ffd700;
}

body {
  margin: 0;
  color: var(--black);
}

.header {
  background-color: var(--blue);
  padding: 20px;
  color: black;
  text-align: left;
}

.header h1 {
  margin: 0;
}

.header,
.section,
.aside {
  box-sizing: content-box;
  text-align: left;
}
header {
  background-color: var(--blue);
}

section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
